.header {
  width: 1150px;
  padding-top: 30px;
  margin: auto;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 127px;
  height: 22px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.nav__header {
  display: contents;
}
.nav__link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: none;
  color: #121212;
}
.nav__link:hover {
  opacity: 0.5;
}
.nav__link_active:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 1199px) {
  .header {
    width: 100%;
    padding-right: 15px;
    padding-left: 17px;
  }
  .nav_header {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__logo {
    width: 96px;
    height: 16px;
  }
}
.welcome__img {
  width: 100%;
  height: 500px;
  position: relative;
  background-image: url(../../resources/main/main-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.welcome__description {
  width: 430px;
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 27px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .welcome__img {
    height: 400px;
  }
  .welcome__description {
    left: 42px;
    bottom: 30px;
  }
}
@media (max-width: 767px) {
  .welcome__description {
    width: 312px;
    left: 15px;
    bottom: 15px;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.48px;
  }
}
@media (max-width: 500px) {
  .welcome__img {
    background-image: url(../../resources/main/main-pic-phone.png);
  }
}
.about__description {
  width: 1040px;
  font-size: 45px;
  letter-spacing: -1.35px;
  line-height: 61.47px;
}

@media (max-width: 1199px) {
  .about__description {
    width: 690px;
    font-size: 35px;
    line-height: 47.81px;
    letter-spacing: -1.05px;
  }
}
@media (max-width: 767px) {
  .about__description {
    width: 100%;
    font-size: 22px;
    line-height: 30.05px;
    letter-spacing: -0.66px;
  }
}
.projects-item__description {
  margin: 14px 0px;
}
.projects-item__link {
  font-size: 20px;
  line-height: 27.32px;
  letter-spacing: -0.6px;
  text-decoration: none;
  color: #ad1818;
}

.projects-item__img {
  max-width: 100%;
}

.projects-item-wrapper {
  margin-bottom: 100px;
}

@media (max-width: 1199px) {
  .projects-item__description {
    margin: 15px 0px 10px;
  }
  .projects-item-wrapper {
    margin-bottom: 80px;
  }
  .projects-item-wrapper:last-child {
    margin-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .projects-item__link {
    font-size: 16px;
    line-height: 21.86px;
    letter-spacing: -0.48px;
  }
  .projects-item-wrapper {
    margin-bottom: 50px;
  }
  .projects-item-wrapper:last-child {
    margin-bottom: 60px;
  }
  .projects__popup-input {
    width: 100%;
  }
}
.services {
  padding-top: 151px;
  padding-bottom: 150px;
  margin-bottom: 0px;
  background-color: #121212;
  color: #fff;
}
.services__columns {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 80px;
  margin-bottom: 106px;
}
.services__item {
  width: calc(50% - 5px);
  position: relative;
}
.services__img {
  width: 100%;
}
.services__description {
  margin-top: 25px;
  color: #ffffff;
}
.services__price {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 5px 21px;
  font-size: 22px;
  line-height: 30.05px;
  letter-spacing: -0.66px;
  border-radius: 5px;
  background: #ad1818;
}

@media (max-width: 1199px) {
  .services {
    padding-bottom: 120px;
  }
  .services__columns {
    margin-bottom: 80px;
  }
  .services__description {
    margin-top: 15px;
    font-size: 25px;
    letter-spacing: -0.75px;
  }
  .services__price {
    position: absolute;
    top: 32px;
    left: 32px;
    padding: 7px 27px;
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 27.32px;
  }
}
@media (max-width: 600px) {
  .services {
    padding: 80px 0;
  }
  .services__item {
    width: 100%;
  }
  .services__columns {
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 60px;
  }
  .services__description {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: -0.54px;
  }
  .services__price {
    position: absolute;
    top: 23px;
    left: 23px;
    padding: 5px 24px;
    font-size: 14px;
    letter-spacing: -0.42px;
    line-height: 19.12px;
  }
}
.contacts__content {
  margin-top: 74px;
}
.contacts__list {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 135px);
}
.contacts__tel, .contacts__telegram {
  position: relative;
  font-size: 60px;
  letter-spacing: -1.8px;
  text-decoration: none;
  color: #121212;
}

.contacts__tel::before,
.contacts__telegram::before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts__tel::before {
  background-image: url(../../resources/contacts/phone.png);
}

.contacts__telegram::before {
  background-image: url(../../resources/contacts/telegram.png);
}

.contacts__tel:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.contacts__telegram:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

@media (max-width: 1199px) {
  .contacts__tel,
  .contacts__telegram {
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -1.35px;
  }
}
@media (max-width: 767px) {
  .contacts__list {
    flex-direction: column;
    row-gap: 70px;
    margin-top: 74px;
  }
  .contcats__link {
    width: 276px;
  }
  .contacts__tel,
  .contacts__telegram {
    font-size: 35px;
    line-height: 45.621px;
    letter-spacing: -1.05px;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #121212;
}
.footer__description {
  margin-top: 86px;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 27.32px;
  opacity: 0.5;
  color: #ffffff;
}

.nav-wrapper-footer {
  display: flex;
  justify-content: center;
}

.nav__footer {
  display: contents;
}
.nav__link_font {
  color: #ffffff;
}

@media (max-width: 767px) {
  .footer__description {
    margin-top: 41px;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: -0.39px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 26px;
  }
  .nav__link_font {
    font-size: 12px;
    letter-spacing: -0.36px;
  }
}
h1 {
  width: 956px;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.8px;
  color: #121212;
}

.title {
  margin-bottom: 30px;
  font-size: 18px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  line-height: 24.59px;
  color: #121212;
}

.title_color {
  color: #fff;
}

h3 {
  line-height: 41px;
  font-size: 30px;
  letter-spacing: -0.9px;
  color: #121212;
}

@media (max-width: 1199px) {
  h1 {
    width: 100%;
    font-size: 50px;
    letter-spacing: -1.5px;
  }
  h3 {
    font-size: 25px;
    line-height: 34.15px;
    letter-spacing: -0.75px;
  }
}
@media (max-width: 767px) {
  h1 {
    margin-bottom: 25px;
    width: 335px;
    font-size: 30px;
    line-height: 31.621px;
    letter-spacing: -0.9px;
  }
  .title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.42px;
  }
  h3 {
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.54px;
  }
}
.reviews {
  margin: 150px 0;
}
.reviews__columns {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 51px;
}
.reviews__item {
  width: 530px;
}
.reviews__client {
  margin-bottom: 14px;
  font-size: 45px;
  line-height: 61.47px;
  letter-spacing: -1.35px;
  color: #000;
}
.reviews__description {
  font-size: 22px;
  line-height: 30.05px;
  letter-spacing: -0.66px;
  color: #000;
}
.reviews__description_size {
  width: 861px;
}

@media (max-width: 1199px) {
  .reviews {
    margin: 120px 0;
  }
  .reviews__columns {
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 80px;
  }
  .reviews__item {
    width: calc(50% - 5px);
  }
  .reviews__client {
    font-size: 35px;
    letter-spacing: -1.05px;
    line-height: 47.81px;
  }
  .reviews__description {
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.6px;
  }
  .reviews__description_size {
    width: 694px;
  }
}
@media (max-width: 767px) {
  .reviews {
    margin: 80px 0;
  }
  .reviews__columns {
    flex-direction: column;
  }
  .reviews__item {
    width: 100%;
  }
  .reviews__client {
    font-size: 25px;
    letter-spacing: -0.75px;
    line-height: 34.15px;
  }
  .reviews__description {
    font-size: 16px;
    line-height: 21.86px;
    letter-spacing: -0.48px;
  }
  .reviews__description_size {
    width: 100%;
  }
}
.gallery__wrapper {
  position: relative;
  width: 100%;
  height: 717px;
}
.gallery__title {
  position: absolute;
  z-index: 1;
  top: 60px;
  font-size: 22px;
  line-height: 30.05px;
  letter-spacing: -0.66px;
  text-transform: uppercase;
  color: #fff;
}
.gallery__controls {
  position: absolute;
  top: 515px;
  z-index: 1;
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.gallery__prev, .gallery__next {
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: left;
}
.gallery__prev {
  background-image: url(../../resources/gallery/arrow-left.png);
}
.gallery__next {
  background-image: url(../../resources/gallery/arrow-left.png);
  transform: rotate(180deg);
}
.gallery__slides {
  position: relative;
  width: 100%;
  height: 100%;
}
.gallery__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  background-position: center;
}
.gallery__slide_one {
  background-image: url(../../resources/gallery/slide-1.png);
}
.gallery__slide_two {
  background-image: url(../../resources/gallery/slide-2.png);
}
.gallery__slide_three {
  background-image: url(../../resources/gallery/slide-3.png);
}
.gallery__slide_four {
  background-image: url(../../resources/gallery/slide-4.png);
}
.gallery__slide_active {
  opacity: 1;
}
.gallery__description {
  position: absolute;
  top: 575px;
  width: 443px;
  color: #fff;
}

@media (max-width: 1199px) {
  .gallery__title {
    top: 80px;
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 27.32px;
  }
  .gallery__description {
    top: 388px;
    font-size: 25px;
    letter-spacing: -0.75px;
  }
  .gallery__controls {
    top: 344px;
  }
  .gallery {
    height: 536px;
  }
}
@media (max-width: 767px) {
  .gallery__title {
    top: 61px;
    font-size: 14px;
    letter-spacing: -0.42px;
    line-height: 19.12px;
  }
  .gallery__description {
    width: 287px;
    top: 296px;
    font-size: 19.009px;
    letter-spacing: -0.57px;
  }
  .gallery__controls {
    top: 189px;
    width: calc(100% - 25px);
    justify-content: space-between;
  }
  .gallery {
    height: 408px;
  }
}
.about__button {
  margin-top: 30px;
  display: inline-flex;
  padding: 20px 40px;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 27.32px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ad1818;
  color: #ffffff;
}

.full-width-button {
  display: flex;
  justify-content: center;
  padding: 54px 0px;
  border-radius: 5px;
  border: 1px solid #ad1818;
  font-size: 30px;
  letter-spacing: -0.9px;
  line-height: 41px;
  text-decoration: none;
  color: #ad1818;
}

.full-width-button:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.full-width-button-services {
  width: 100%;
  color: #fff;
  background-color: #ad1818;
}

.full-width-button-services:hover {
  background-color: #121212;
}

.full-width-button_popup {
  width: 100%;
  padding: 20px 40px;
  margin-top: 75px;
  background-color: #ad1818;
  color: #fff;
  letter-spacing: -0.6px;
  font-size: 20px;
  line-height: 27.32px;
}

@media (max-width: 767px) {
  .full-width-button {
    height: 100px;
    padding: 33px 0px;
    font-size: 22px;
    line-height: 30.05px;
    letter-spacing: -0.66px;
  }
  .about__button {
    width: 100%;
    padding: 15px 30px;
    justify-content: center;
    font-size: 16px;
    line-height: 21.86px;
    letter-spacing: -0.48px;
  }
}
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.popup__content {
  position: relative;
  width: 777px;
  height: 708px;
  max-height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 10px;
}
.popup__close-btn {
  position: absolute;
  top: 32px;
  right: 44px;
  max-width: 67px;
  width: 50px;
  height: 50px;
  border: none;
  background-image: url(../../resources/projects/popup-close.png);
  background-size: cover;
}

.popup_open {
  opacity: 1;
  visibility: visible;
}

.body_fixed {
  overflow: hidden;
}

@media (max-width: 767px) {
  .popup__content {
    width: 100%;
    height: 611px;
  }
  .js-popup__close-btn {
    width: 30px;
    height: 30px;
    top: 40px;
    right: 29px;
  }
}
.order__content-wrapper {
  padding: 94px 74px 86px 59px;
}
.order__title {
  margin-bottom: 5px;
  text-align: center;
  font-size: 45px;
  line-height: 61.47px;
  letter-spacing: -1.35px;
  color: #000;
}
.order__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: -0.54px;
  color: #000;
}
.order__input {
  width: 100%;
  margin-top: 55px;
}

@media (max-width: 767px) {
  .order__title {
    font-size: 25px;
    letter-spacing: -0.75px;
    line-height: 34.15px;
  }
  .order__subtitle {
    font-size: 14px;
    letter-spacing: -0.42px;
    line-height: 19.12px;
  }
}
.input {
  display: block;
  padding-bottom: 5px;
  font-size: 25px;
  line-height: 34.15px;
  letter-spacing: -0.75px;
  border: none;
  border-bottom: 1px solid #000;
}

.input:focus {
  outline: none;
}

.input::-moz-placeholder {
  opacity: 0.5;
}

.input::placeholder {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .input {
    font-size: 18px;
    letter-spacing: -0.54px;
    line-height: 24.59px;
  }
}
.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
}
.burger__content {
  padding: 80px 88px 65px 30px;
  width: 274px;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  transition: transform 0.3s linear;
  transform: translateX(100%);
}
.burger__logo {
  margin-bottom: 50px;
}
.burger__feedback-title {
  font-size: 16px;
  line-height: 21.86px;
  letter-spacing: -0.48px;
  opacity: 0.5;
  color: #000;
}
.burger__feedback-phone, .burger__feedback-telegram {
  font-size: 20px;
  line-height: 45.621px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #121212;
}
.burger__btn {
  display: none;
  z-index: 2;
}

.burger_open .burger__content {
  transform: translateX(0);
}

.nav__burger {
  display: flex;
  height: 197px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 90px;
}
.nav__link_burger {
  font-size: 25px;
  line-height: 34.15px;
  letter-spacing: -0.75px;
}

.burger_open {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.body_fixed {
  overflow: hidden;
}

@media (max-width: 1199px) {
  .burger__btn {
    display: block;
    width: 50px;
    position: relative;
    background: none;
    border: none;
  }
  .burger__btn::before,
  .burger__btn::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: black;
  }
  .burger-btn_open::after,
  .burger-btn_open::before {
    display: none;
  }
  .burger__btn::after {
    top: 6px;
    width: 31px;
  }
  .burger-btn_open {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 34px;
    width: 34px;
    background-image: url(../../resources/burger/burger-close.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
}

section {
  margin-bottom: 150px;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

@media (max-width: 1199px) {
  section {
    margin-bottom: 120px;
  }
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 17px;
  }
}
@media (max-width: 767px) {
  section {
    margin-bottom: 80px;
  }
  .container {
    padding-left: 13px;
    padding-right: 12px;
  }
  .btn {
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.36px;
    text-transform: uppercase;
  }
}