.about {
	margin-top: 150px;

	&__text {
		width: 1040px;
		margin-top: 30px;
		font-size: 45px;
		letter-spacing: -1.35px;
		line-height: 61.47px;
	}

	&__button {
		margin-top: 30px;
		display: inline-flex;
	}
}

.about-btn {
	padding: 20px 40px;
	font-size: 20px;
	letter-spacing: -0.6px;
	line-height: 27.32px;
	border-radius: 5px;
	text-decoration: none;
	background-color: #ad1818;
	color: #ffffff;
}
