.about {
	&__description {
		width: 1040px;
		font-size: 45px;
		letter-spacing: -1.35px;
		line-height: 61.47px;
	}
}

@media (max-width: 1199px) {
	.about__description {
		width: 690px;
		font-size: 35px;
		line-height: 47.81px;
		letter-spacing: -1.05px;
	}
}

@media (max-width: 767px) {
	.about__description {
		width: 100%;
		font-size: 22px;
		line-height: 30.05px;
		letter-spacing: -0.66px;
	}
}
