h2 {
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	line-height: 24.59px;

	color: #121212;
}

.about {
	&__text {
		width: 1040px;
		margin-top: 30px;
		font-size: 45px;
		letter-spacing: -1.35px;
		line-height: 61.47px;
	}

	&__button {
		margin-top: 30px;
		display: inline-flex;
	}
}

.about-btn {
	padding: 20px 40px;
	font-size: 20px;
	letter-spacing: -0.6px;
	line-height: 27.32px;
	border-radius: 5px;
	text-decoration: none;
	background-color: #ad1818;
	color: #ffffff;
}

@media (max-width: 1199px) {
	.about__text {
		width: 690px;
		font-size: 35px;
		line-height: normal;
		letter-spacing: -1.05px;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 14px;
		line-height: normal;
		letter-spacing: -0.42px;
		text-transform: uppercase;
	}

	.about__text {
		margin-top: 20px;
		width: 100%;
		font-size: 22px;
		letter-spacing: -0.66px;
	}

	.about-btn {
		width: 100%;
		padding: 15px 30px;
		justify-content: center;
		font-size: 16px;
		line-height: normal;
		letter-spacing: -0.48px;
	}
}
