.burger {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;

	&__content {
		padding: 80px 88px 65px 30px;
		width: 274px;
		height: 100%;
		overflow-y: auto;
		background-color: #fff;
		transition: transform 0.3s linear;
		transform: translateX(100%);
	}

	&__logo {
		margin-bottom: 50px;
	}

	&__feedback-title {
		font-size: 16px;
		line-height: 21.86px;
		letter-spacing: -0.48px;

		opacity: 0.5;
		color: #000;
	}

	&__feedback-phone,
	&__feedback-telegram {
		font-size: 20px;
		line-height: 45.621px;
		letter-spacing: -0.6px;
		text-transform: uppercase;
		text-decoration: none;
		color: #121212;
	}

	&__btn {
		display: none;
		z-index: 2;
	}
}

.burger_open .burger__content {
	transform: translateX(0);
}

.nav {
	&__burger {
		display: flex;
		height: 197px;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 90px;
	}

	&__link {
		&_burger {
			font-size: 25px;
			line-height: 34.15px;
			letter-spacing: -0.75px;
		}
	}
}

.burger_open {
	z-index: 1;
	opacity: 1;
	visibility: visible;
}

.body_fixed {
	overflow: hidden;
}

@media (max-width: 1199px) {
	.burger__btn {
		display: block;
		width: 50px;
		position: relative;
		background: none;
		border: none;
	}

	.burger__btn::before,
	.burger__btn::after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		height: 2px;
		width: 100%;
		background-color: black;
	}

	.burger-btn_open::after,
	.burger-btn_open::before {
		display: none;
	}

	.burger__btn::after {
		top: 6px;
		width: 31px;
	}

	.burger-btn_open {
		position: absolute;
		top: 20px;
		right: 20px;
		height: 34px;
		width: 34px;
		background-image: url(../../resources/burger/burger-close.png);
		background-size: cover;
		background-repeat: no-repeat;
	}
}
