.about__button {
	margin-top: 30px;
	display: inline-flex;
	padding: 20px 40px;
	font-size: 20px;
	letter-spacing: -0.6px;
	line-height: 27.32px;
	border-radius: 5px;
	text-decoration: none;
	background-color: #ad1818;
	color: #ffffff;
}

.full-width-button {
	display: flex;
	justify-content: center;
	padding: 54px 0px;
	border-radius: 5px;
	border: 1px solid #ad1818;
	font-size: 30px;
	letter-spacing: -0.9px;
	line-height: 41px;
	text-decoration: none;
	color: #ad1818;
}

.full-width-button:hover {
	background-color: #ad1818;
	color: #ffffff;
}

.full-width-button-services {
	width: 100%;
	color: #fff;
	background-color: #ad1818;
}

.full-width-button-services:hover {
	background-color: #121212;
}

.full-width-button_popup {
	width: 100%;
	padding: 20px 40px;
	margin-top: 75px;
	background-color: #ad1818;
	color: #fff;
	letter-spacing: -0.6px;
	font-size: 20px;
	line-height: 27.32px;
}

@media (max-width: 767px) {
	.full-width-button {
		height: 100px;
		padding: 33px 0px;
		font-size: 22px;
		line-height: 30.05px;
		letter-spacing: -0.66px;
	}

	.about__button {
		width: 100%;
		padding: 15px 30px;
		justify-content: center;
		font-size: 16px;
		line-height: 21.86px;
		letter-spacing: -0.48px;
	}
}
