.section-contacts {
}

.contacts {
	&__content {
		margin-top: 74px;
		display: flex;
		flex-wrap: wrap;
		column-gap: 104px;
	}

	&__item {
	}

	&__tel {
		position: relative;
		width: 472px;
		font-size: 60px;
		letter-spacing: -0.9px;

		text-decoration: none;
		color: #121212;
	}

	&__mail {
		position: relative;
		width: 412px;
		font-size: 60px;
		letter-spacing: -1.8px;
		text-decoration: none;

		color: #121212;
	}
}

.contacts__tel:hover {
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

.contacts__mail:hover {
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

.contacts__tel::before {
	content: '';
	display: block;
	position: absolute;
	top: -30px;
	width: 24px;
	height: 24px;
	background-image: url(../../resources/contacts/phone.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.contacts__mail::before {
	content: '';
	display: block;
	position: absolute;
	top: -30px;
	width: 24px;
	height: 24px;
	background-image: url(../../resources/contacts/mail.png);
	background-size: cover;
	background-repeat: no-repeat;
}
