.contacts {
	&__content {
		margin-top: 74px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		width: calc(100% - 135px);
	}

	&__tel {
		position: relative;
		font-size: 60px;
		letter-spacing: -0.9px;

		text-decoration: none;
		color: #121212;
	}

	&__telegram {
		position: relative;
		font-size: 60px;
		letter-spacing: -1.8px;

		text-decoration: none;
		color: #121212;
	}
}

.contacts__tel::before,
.contacts__telegram::before {
	content: '';
	display: block;
	position: absolute;
	top: -30px;
	width: 24px;
	height: 24px;
	background-size: cover;
	background-repeat: no-repeat;
}

.contacts__tel::before {
	background-image: url(../../resources/contacts/phone.png);
}

.contacts__telegram::before {
	background-image: url(../../resources/contacts/telegram.png);
}

.contacts__tel:hover {
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

.contacts__telegram:hover {
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

@media (max-width: 1199px) {
	.contacts__tel,
	.contacts__telegram {
		font-size: 45px;
		letter-spacing: -1.35px;
	}
}

@media (max-width: 767px) {
	.contacts__list {
		flex-direction: column;
		row-gap: 70px;
		margin-top: 74px;
	}
	.contcats__link {
		width: 276px;
	}

	.contacts__tel,
	.contacts__telegram {
		font-size: 35px;
		line-height: 45.621px;
		letter-spacing: -1.05px;
	}
}
