.nav-wrapper-footer {
	display: flex;
	justify-content: center;
}

.btn {
	color: #ffffff;
}

.footer {
	padding-top: 60px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #121212;

	&__description {
		margin-top: 86px;
		font-size: 20px;
		letter-spacing: -0.6px;
		line-height: 30px;

		opacity: 0.5;
		color: #ffffff;
	}
}

@media (max-width: 767px) {
	.footer__description {
		margin-top: 41px;
		font-size: 13px;
		line-height: normal;
		letter-spacing: -0.39px;
	}

	.footer {
		padding-top: 30px;
		padding-bottom: 26px;
	}
}
