.footer {
	margin: auto;
	padding-top: 60px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #121212;

	&__nav {
		margin-right: 7px;
		padding-top: 9px;
	}

	&__text {
		margin-top: 86px;
		font-size: 20px;
		letter-spacing: -0.6px;
		line-height: 30px;

		opacity: 0.5;
		color: #ffffff;
	}
}

.btn-footer:hover {
	opacity: 0.5;
}

.nav {
	&__button-about {
		margin-right: 49px;
		color: #ffffff;
	}

	&__button-projects {
		margin-right: 56px;
		color: #ffffff;
	}

	&__button-services {
		margin-right: 51px;
		color: #ffffff;
	}

	&__button-contacts {
		margin-right: 4px;
		color: #ffffff;
	}
}

@media (max-width: 767px) {
	.footer__text {
		width: 287px;
		font-size: 13px;
		line-height: normal;
		letter-spacing: -0.39px;
	}
}
