.full-screen {
	&__img {
		position: relative;
		margin: auto;
		width: 1400px;
		height: 717px;
		background-image: url(../../resources/bed.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 20%;
	}

	&__text {
		width: 443px;
		position: absolute;
		left: 125px;
		bottom: 60px;
		font-size: 30px;
		letter-spacing: -0.9px;
		line-height: 41px;

		color: #ffffff;
	}
}
