.gallery-section {
	color: #fff;
}
.gallery {
	position: relative;
	width: 100%;
	height: 717px;

	&__title {
		position: absolute;
		z-index: 1;
		top: 60px;
		font-size: 22px;
		line-height: normal;
		letter-spacing: -0.66px;
		text-transform: uppercase;
	}

	&__controls {
		position: absolute;
		top: 515px;
		z-index: 1;
		display: flex;
		column-gap: 14px;
	}

	&__prev,
	&__next {
		border: none;
		background: none;
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: left;
	}

	&__prev {
		background-image: url(../../resources/gallery/arrow-left.png);
	}

	&__next {
		background-image: url(../../resources/gallery/arrow-left.png);
		transform: rotate(180deg);
	}

	&__slides {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__slide {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-size: cover;
		background-position: center;

		&_one {
			background-image: url(../../resources/gallery/slide-1.png);
		}
		&_two {
			background-image: url(../../resources/gallery/slide-2.png);
		}
		&_three {
			background-image: url(../../resources/gallery/slide-3.png);
		}
		&_four {
			background-image: url(../../resources/gallery/slide-4.png);
		}
		&_active {
			opacity: 1;
		}
	}

	&__description {
		position: absolute;
		top: 575px;
		width: 443px;
		color: #fff;
	}
}

@media (max-width: 1199px) {
	.gallery__title {
		top: 80px;
		font-size: 20px;
		letter-spacing: -0.6px;
	}

	.gallery__description {
		top: 388px;
		font-size: 25px;
		letter-spacing: -0.75px;
	}

	.gallery__controls {
		top: 344px;
	}

	.gallery {
		height: 536px;
	}
}

@media (max-width: 767px) {
	.gallery__title {
		top: 61px;
		font-size: 14px;
		letter-spacing: -0.42px;
	}

	.gallery__description {
		top: 296px;
		font-size: 19.009px;
		letter-spacing: -0.57px;
	}

	.gallery__controls {
		top: 189px;
		width: calc(100% - 25px);
		justify-content: space-between;
	}

	.gallery {
		height: 408px;
	}
}
