.header {
	margin-top: 30px;

	&__logo {
		display: inline-block;
		margin-right: 553px;
	}
}

.logo {
	width: 126.889px;
	height: 21.42px;
}

.nav-wrapper {
	display: inline-block;
}

.nav {
	&__button {
		margin-right: 58px;
	}
}

.btn {
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 24px;

	color: #121212;
}

.btn:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

.btn:last-child {
	margin-right: 0px;
}
