h1 {
	width: 956px;
	margin-top: 70px;
	margin-bottom: 30px;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1.8px;

	color: #121212;
}

h2 {
	margin-bottom: 30px;
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	line-height: 24.59px;

	color: #121212;
}

h3 {
	line-height: 41px;
	font-size: 30px;
	letter-spacing: -0.9px;
	color: #121212;
}

@media (max-width: 1199px) {
	h1 {
		width: 100%;
		font-size: 50px;
		letter-spacing: -1.5px;
	}
}

@media (max-width: 767px) {
	h1 {
		margin-bottom: 25px;
		width: 335px;
		font-size: 30px;
		line-height: 31.621px;
		letter-spacing: -0.9px;
	}

	h2 {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: normal;
		letter-spacing: -0.42px;
	}
}
