.header {
	margin-top: 30px;
	height: 34px;

	&__logo {
		display: inline-block;
		margin-right: 569px;
	}
}

.logo {
	width: 126.889px;
	height: 21.42px;
}

.nav-wrapper-header {
	display: inline-block;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 450px;

	&__link {
		font-size: 18px;
		letter-spacing: -0.54px;
		text-transform: uppercase;
		line-height: 24px;

		padding: 5px;
		text-decoration: none;
		color: #121212;
	}

	&__link:hover {
		opacity: 0.5;
	}

	&__link_active:hover {
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	}
}

@media (max-width: 767px) {
	.header__logo {
		margin-right: 20px;
	}
}
