.header {
	width: 1150px;
	padding-top: 30px;
	margin: auto;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 127px;
	height: 22px;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 450px;

	&__header {
		display: contents;
	}

	&__link {
		font-size: 18px;
		line-height: 24px;
		letter-spacing: -0.54px;
		text-transform: uppercase;

		padding: 5px;
		text-decoration: none;
		color: #121212;
	}

	&__link:hover {
		opacity: 0.5;
	}

	&__link_active:hover {
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	}
}

@media (max-width: 1199px) {
	.header {
		width: 100%;
		padding-right: 15px;
		padding-left: 17px;
	}

	.nav_header {
		display: none;
	}
}

@media (max-width: 767px) {
	.header__logo {
		width: 96px;
		height: 16px;
	}
}
