.input {
	display: block;
	padding-bottom: 5px;
	font-size: 25px;
	line-height: 34.15px;
	letter-spacing: -0.75px;
	border: none;

	border-bottom: 1px solid #000;
}

.input:focus {
	outline: none;
}

.input::placeholder {
	opacity: 0.5;
}

@media (max-width: 767px) {
	.input {
		font-size: 18px;
		letter-spacing: -0.54px;
		line-height: 24.59px;
	}
}
