.projects-item {
	&__description {
		margin: 14px 0px;
	}

	&__link {
		font-size: 20px;
		line-height: 27.32px;
		letter-spacing: -0.6px;

		text-decoration: none;
		color: #ad1818;
	}
}

.projects-item__img {
	max-width: 100%;
}

.projects-item-wrapper {
	margin-bottom: 100px;
}

@media (max-width: 1199px) {
	.projects-item__description {
		margin: 15px 0px 10px;
	}

	.projects-item-wrapper {
		margin-bottom: 80px;
	}

	.projects-item-wrapper:last-child {
		margin-bottom: 100px;
	}
}

@media (max-width: 767px) {
	.projects-item__link {
		font-size: 16px;
		line-height: 21.86px;
		letter-spacing: -0.48px;
	}

	.projects-item-wrapper {
		margin-bottom: 50px;
	}

	.projects-item-wrapper:last-child {
		margin-bottom: 60px;
	}

	.projects__popup-input {
		width: 100%;
	}
}
