.projects {
	&__link-button {
		padding: 54px 0px;
		display: block;
		text-align: center;
		border-radius: 5px;
		border: 1px solid #ad1818;
		font-size: 30px;
		letter-spacing: -0.9px;
		line-height: 41px;
		text-decoration: none;
		color: #ad1818;
	}
}

.projects__link-button:hover {
	background-color: #ad1818;
	color: #ffffff;
}

.projects-item {
	&__description {
		margin: 14px 0px;
	}

	&__link {
		font-size: 20px;
		letter-spacing: -0.6px;
		line-height: 27.32px;

		text-decoration: none;
		color: #ad1818;
	}
}

.projects-item__img {
	max-width: 100%;
}

.projects-item-wrapper {
	margin-bottom: 100px;
}

@media (max-width: 1199px) {
	.projects-item__description {
		margin: 15px 0px 10px;
		font-size: 25px;
		line-height: normal;
		letter-spacing: -0.75px;
	}

	.projects-item-wrapper {
		margin-bottom: 80px;
	}

	.projects-item-wrapper:last-child {
		margin-bottom: 100px;
	}
}

@media (max-width: 767px) {
	.projects-item__description {
		font-size: 18px;
		line-height: normal;
		letter-spacing: -0.54px;
	}

	.projects-item__link {
		font-size: 16px;
		line-height: normal;
		letter-spacing: -0.48px;
	}

	.projects__link-button {
		height: 100px;
		padding: 33px 0px;
		font-size: 22px;
		line-height: normal;
		letter-spacing: -0.66px;
	}

	.projects-item-wrapper {
		margin-bottom: 50px;
	}

	.projects-item-wrapper:last-child {
		margin-bottom: 60px;
	}
}
