.projects {
	padding-top: 150px;
	padding-bottom: 150px;

	&__title {
		margin-bottom: 30px;
		letter-spacing: -0.54px;
	}

	&__link-button {
		padding: 54px 0px;
		display: block;
		text-align: center;
		border-radius: 5px;
		border: 1px solid #ad1818;
		font-size: 30px;
		letter-spacing: -0.9px;
		line-height: 41px;
		text-decoration: none;
		color: #ad1818;
	}
}

.projects__link-button:hover {
	background-color: #ad1818;
	color: #ffffff;
}

.projects-item {
	&__text {
		margin: 14px 0px;
		line-height: 41px;
		font-size: 30px;
		letter-spacing: -0.9px;

		color: #121212;
	}

	&__link {
		font-size: 20px;
		letter-spacing: -0.6px;
		line-height: 27.32px;

		text-decoration: none;
		color: #ad1818;
	}
}

.projects-item-wrapper {
	margin-bottom: 90px;
}
