.room {
	&__img {
		height: 717px;
		position: relative;
		background-image: url(../../resources/bed.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 20%;
	}

	&__description {
		width: 443px;
		position: absolute;
		bottom: 60px;
		font-size: 30px;
		letter-spacing: -0.9px;
		line-height: 41px;

		color: #ffffff;
	}
}

@media (max-width: 1199px) {
	.room__img {
		height: 536px;
	}

	.room__description {
		width: 375px;
		left: 50px;
		bottom: 80px;
		font-size: 25px;
		line-height: normal;
		letter-spacing: -0.75px;
	}
}

@media (max-width: 767px) {
	.room__img {
		height: 408px;
		background-position: 50%;
	}

	.room__description {
		left: 13px;
		bottom: 60px;
		width: 285px;
		font-size: 19.009px;
		line-height: normal;
		letter-spacing: -0.57px;
	}
}
