.services {
	padding-top: 151px;
	padding-bottom: 150px;
	margin-bottom: 0px;
	background-color: #121212;
	color: #fff;

	&__title {
		color: #fff;
	}

	&__columns {
		display: flex;
		flex-wrap: wrap;
		column-gap: 10px;
		row-gap: 80px;
		margin-bottom: 106px;
	}

	&__item {
		width: calc(50% - 5px);
		position: relative;
	}

	&__img {
		width: 100%;
	}

	&__description {
		margin-top: 25px;
		color: #ffffff;
	}

	&__price {
		position: absolute;
		top: 30px;
		left: 30px;
		padding: 5px 21px;
		font-size: 22px;
		line-height: 30.05px;
		letter-spacing: -0.66px;

		border-radius: 5px;
		background: #ad1818;
	}
}

@media (max-width: 1199px) {
	.services {
		padding-bottom: 120px;
	}

	.services__columns {
		margin-bottom: 80px;
	}

	.services__description {
		margin-top: 15px;
		font-size: 25px;
		letter-spacing: -0.75px;
	}

	.services__price {
		position: absolute;
		top: 32px;
		left: 32px;
		padding: 7px 27px;
		font-size: 20px;
		letter-spacing: -0.6px;
		line-height: 27.32px;
	}
}

@media (max-width: 600px) {
	.services {
		padding: 80px 0;
	}

	.services__item {
		width: 100%;
	}

	.services__columns {
		flex-direction: column;
		row-gap: 50px;
		margin-bottom: 60px;
	}

	.services__description {
		margin-top: 10px;
		font-size: 18px;
		letter-spacing: -0.54px;
	}

	.services__price {
		position: absolute;
		top: 23px;
		left: 23px;
		padding: 5px 24px;
		font-size: 14px;
		letter-spacing: -0.42px;
		line-height: 19.12px;
	}
}
