.services {
	padding-top: 151px;
	padding-bottom: 150px;
	margin: auto;

	line-height: 26px;
	background-color: #121212;

	&__title {
		margin-bottom: 34px;
		letter-spacing: -0.54px;

		color: #ffffff;
	}
}

.services-item {
	&__text {
		margin-left: 3px;
		padding-top: 8px;
		font-size: 30px;
		letter-spacing: -0.9px;
		line-height: 41px;

		color: #fff;
	}
}

.services-item-wrapper {
	margin-bottom: 60px;
}

.services-item-wrapper:last-child {
	margin-bottom: 0px;
}
