h1 {
	width: 956px;
	margin-top: 70px;
	margin-bottom: 30px;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1.8px;

	color: #121212;
}

.welcome__img {
	width: 100%;
	height: 500px;
	position: relative;
	background-image: url(../../resources/main/main-pic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

.welcome__text {
	width: 430px;
	position: absolute;
	left: 40px;
	bottom: 40px;
	font-size: 20px;
	letter-spacing: -0.6px;
	line-height: 27px;

	color: #ffffff;
}

@media (max-width: 1199px) {
	h1 {
		width: 802px;
		font-size: 50px;
		letter-spacing: -1.5px;
	}

	.welcome__img {
		height: 400px;
	}

	.welcome__text {
		left: 42px;
		bottom: 30px;
	}
}

@media (max-width: 767px) {
	h1 {
		margin-bottom: 25px;
		width: 348px;
		font-size: 30px;
		line-height: 31.621px;
		letter-spacing: -0.9px;
	}

	.welcome__text {
		left: 15px;
		bottom: 15px;
		width: 312px;
		font-size: 16px;
		line-height: normal;
		letter-spacing: -0.48px;
	}
}

@media (max-width: 400px) {
	.welcome__img {
		height: 304px;
		background-image: url(../../resources/main/main-pic-phone.png);
	}
}
