@import 'header';
@import 'welcome';
@import 'about';
@import 'projects';
@import 'services';
@import 'room';
@import 'contacts';
@import 'footer';

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
	width: 100%;
}

section {
	margin-bottom: 150px;
}

.container {
	width: 1150px;
	margin: 0 auto;
}

@media (max-width: 1199px) {
	section {
		margin-bottom: 120px;
	}

	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 17px;
	}
}

@media (max-width: 767px) {
	section {
		margin-bottom: 80px;
	}

	.container {
		padding-left: 13px;
		padding-right: 12px;
	}

	.btn {
		font-size: 12px;
		line-height: normal;
		letter-spacing: -0.36px;
		text-transform: uppercase;
	}
}
