html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
	width: 100%;
}

.welcome {
	padding-top: 16px;
	width: 1150px;
	margin: 0 auto;
}

.nav-container {
	width: 1150px;
	margin: 0 auto;
	padding-top: 33px;
}

.logo-link {
	display: inline-block;
	margin-right: 555px;
}

.logo {
	display: block;
	width: 127px;
}

.navigation {
	margin-top: 5px;
	display: inline-block;
	vertical-align: top;
}

.nav-link {
	margin-right: 56px;
	display: inline-block;
	text-align: center;
	letter-spacing: -0.54px;
	font-size: 18px;
	text-decoration: none;
	color: #121212;
}

.nav-link:last-child {
	margin-right: 0;
}

.nav-link:hover {
	color: lightsalmon;
	text-decoration: underline;
}

.h1-wrapper {
}

h1 {
	padding-top: 54px;
	width: 956px;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1.8px;
	color: #121212;
}

.img-interior {
	position: relative;
	margin-top: 30px;
}

.text-in-img-wrapper {
	position: absolute;
	left: 40px;
	bottom: 42px;
	line-height: 27px;
	width: 430px;
	color: #fff;
	font-size: 20px;
	letter-spacing: -0.6px;
}

.about-us {
	padding-top: 150px;
	padding-bottom: 150px;
	width: 1150px;
	margin: 0 auto;
}

.h2-about-us-wrapper {
}

h2 {
	font-size: 18px;
	letter-spacing: -0.54px;
	color: #121212;
}

.text-about-us-wrapper {
	margin-top: 36px;
}

.text-about-us {
	width: 1048px;
	font-size: 45px;
	letter-spacing: -1.3px;
	line-height: 61px;
	color: #121212;
}

.anchor-see-services-wrapper {
	margin-top: 30px;
}

.anchor-see-services {
	font-size: 20px;
	display: inline-block;
	padding: 23px 40px;
	background-color: #ad1818;
	color: #ffffff;
	border-radius: 5px;
	text-decoration: none;
	letter-spacing: -0.6px;
}

.anchor-see-services:hover {
	color: #fff;
	background-color: lightsalmon;
}

.projects-wrapper {
	margin-top: 4px;
	margin-bottom: 30px;
}

.projects {
	padding-bottom: 150px;
	width: 1150px;
	margin: 0 auto;
}

.item {
	padding-top: 4px;
	margin-bottom: 90px;
	width: 1150px;
}

.h3-wrapper {
	margin-top: 17px;
	margin-bottom: 15px;
}

.link-wrapper {
	padding-top: 10px;
}

h3 {
	font-size: 30px;
	letter-spacing: -0.9px;
	color: #121212;
}

.item__anchor {
	text-decoration: none;
	font-size: 20px;
	letter-spacing: -0.6px;
	color: #ad1818;
}

.see-projects-wrapper {
}

.anchor-see-projects {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 59px;
	font-size: 30px;
	color: #ad1818;
	border: 2px solid #ad1818;
	border-radius: 5px;
	letter-spacing: -0.9px;
}

.anchor-see-projects:hover {
	color: #fff;
	background-color: lightsalmon;
}

.services-wrapper {
	padding-left: 110px;
	padding-bottom: 34px;
}

.section-black {
	padding-top: 151px;
	background-size: 100%;
	background-color: #121212;
}

.item-2 {
	width: 1150px;
	padding-bottom: 60px;
	margin: 0 auto;
}

h4 {
	margin-top: 15px;
	margin-left: 4px;
	color: #fff;
	font-size: 30px;
	letter-spacing: -0.9px;
}

.item-2:nth-last-child(1) {
	padding-bottom: 150px;
}

.section-bed {
	position: relative;
	height: 724px;
	background-image: url('../resources/bed.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

.text-project {
	position: absolute;
	left: 423px;
	bottom: 62px;
	width: 443px;
	height: 82px;
	color: #fff;
	font-size: 30px;
	letter-spacing: -0.9px;
	line-height: 41px;
}

.section-contacts {
	width: 1150px;
	margin: 0 auto;
	padding-bottom: 150px;
	padding-top: 186px;
}

.contacts-wrapper {
	margin-top: 2px;
	position: relative;
}

.contacts:before {
	width: 24px;
	height: 24px;
	bottom: 220px;
	left: -5px;
	top: -40px;
	content: '';
	display: block;
	background-image: url('../resources/phone.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	position: absolute;
}

.mail-wrapper {
	margin-top: 32px;
}

.number {
	display: block;
	margin-top: 32px;
	text-decoration: none;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1px;
	color: #121212;
}

.mail {
	display: block;
	margin-top: 30px;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1.8px;
	opacity: 0.5;
	color: #121212;
}

.section-end-of-page {
	background-color: #121212;
	padding-top: 60px;
	padding-bottom: 144px;
}

.headlines-wrapper {
	padding-top: 6px;
	margin: 0 auto;
	width: 455px;
}

.headlines-in-the-end {
	margin-right: 51px;
	display: inline-block;
	font-size: 18px;
	letter-spacing: -0.51px;
	text-transform: uppercase;
	color: #ffffff;
}

.headlines-in-the-end:last-child {
	margin-right: 0px;
}

.text-in-the-end {
	margin-top: 94px;
	margin-left: 6px;
	text-align: center;
	font-size: 20px;
	letter-spacing: -0.6px;
	color: #fff;
	opacity: 0.5;
}
