html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
	width: 100%;
}

.header {
	margin-top: 33px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: 1150px;
}

.link-logo {
	width: 126.889px;
	height: 21.42px;
	display: inline-block;
	margin-right: 558px;
}

.nav {
	display: inline-block;
}

.nav__about {
	margin-right: 58px;
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 24px;

	color: #121212;
}

.nav__projects {
	margin-right: 57px;
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 24px;

	color: #121212;
}

.nav__services {
	margin-right: 58px;
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 24px;

	color: #121212;
}

.nav__contacts {
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 24px;

	color: #121212;
}

.nav__about:hover {
	border-bottom: 1px;
	opacity: 0.5;
}

.wrapper-h1 {
	padding-top: 70px;
	padding-bottom: 30px;
	width: 1150px;
	margin: auto;
}

h1 {
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1.8px;

	color: #121212;
}

.welcome {
	margin-top: 30px;
	position: relative;
	width: 1150px;
	height: 500px;
	margin: auto;
}

.welcome__text {
	position: absolute;
	left: 40px;
	bottom: 40px;
	font-size: 20px;
	letter-spacing: -0.6px;
	line-height: 26px;

	color: #ffffff;
}

h2 {
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	line-height: 24.59px;

	color: #121212;
}

.about {
	padding-top: 150px;
	width: 1150px;
	margin: auto;
}

.about__text {
	margin-top: 30px;
	font-size: 45px;
	letter-spacing: -1.35px;
	line-height: 61.47px;
}
.see-services-link {
	font-size: 20px;
	margin-top: 30px;
	display: inline-flex;
	padding: 20px 40px;
	letter-spacing: -0.6px;
	line-height: 27.32px;

	border-radius: 5px;
	text-decoration: none;
	background-color: #ad1818;
	color: #ffffff;
}

.projects__h2 {
	letter-spacing: -0.54px;
	margin-bottom: 30px;
}

.projects {
	padding-top: 150px;
	padding-bottom: 150px;
	width: 1150px;
	margin: auto;
}

.item {
	margin-bottom: 90px;
}

.item__text {
	margin: 14px 0px;
	line-height: 41px;
	font-size: 30px;
	letter-spacing: -0.9px;

	color: #121212;
}

.item__link {
	font-size: 20px;
	letter-spacing: -0.6px;
	line-height: 27.32px;

	text-decoration: none;
	color: #ad1818;
}

.projects__anchor-wrapper {
	border-radius: 5px;
	border: 1px solid #ad1818;
}

.projects__anchor {
	padding: 54px 0px;
	display: block;
	text-align: center;
	font-size: 30px;
	letter-spacing: -0.9px;
	line-height: 41px;

	text-decoration: none;
	color: #ad1818;
}

.projects__anchor:hover {
	background-color: #ad1818;
	color: #ffffff;
}

.section-black-wrapper {
	background-color: #121212;
}
.section-black {
	padding-top: 151px;
	padding-bottom: 150px;
	line-height: 26px;
	width: 1150px;
	margin: auto;
}
.section-black__h2 {
	margin-bottom: 34px;
	letter-spacing: -0.54px;

	color: #ffffff;
}

.item-in-black-section {
	margin-bottom: 60px;
}

.item-in-black-section-text {
	margin-left: 3px;
	padding-top: 8px;
	font-size: 30px;
	letter-spacing: -0.9px;
	line-height: 41px;

	color: #fff;
}

.item-in-black-section:last-child {
	margin-bottom: 0px;
}

.full-screen__img {
	position: relative;
	height: 717px;
	background-image: url(../resources/bed.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 20%;
}
.full-screen__text {
	position: absolute;
	left: 125px;
	bottom: 60px;
	font-size: 30px;
	letter-spacing: -0.9px;
	line-height: 41px;

	color: #ffffff;
}

.wrapper-contacts {
	padding-top: 186px;
	padding-left: 160px;
	margin-left: 125px;
}

.contacts {
	position: relative;
	padding-bottom: 160px;
}

.contacts::before {
	position: absolute;
	top: -33px;
	left: -4px;
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	background-image: url(../resources/phone.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.contacts__h2 {
	margin-bottom: 32px;
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;

	color: #121212;
}
.contacts__tel {
	display: block;
	margin-bottom: 30px;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1.8px;

	text-decoration: none;
	color: #121212;
}

.contacts__mail {
	display: block;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1.8px;
	text-decoration: none;

	color: #121212;
}

.contacts__mail:hover {
	text-decoration: underline;
	opacity: 0.5;
}

.footer {
	padding-top: 60px;
	padding-bottom: 30px;
	text-align: center;

	background-color: #121212;
}

.nav-footer {
	width: 1400px;
	margin: auto;
}

.nav-footer__about {
	margin-right: 53px;
	line-height: 26.59px;
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-decoration: none;

	color: #ffffff;
}

.nav-footer__about:hover {
	opacity: 0.5;
}

.nav-footer__projects {
	margin-right: 53px;
	line-height: 26.59px;
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-decoration: none;

	color: #ffffff;
}

.nav-footer__services {
	margin-right: 53px;
	line-height: 26.59px;
	font-size: 18px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-decoration: none;

	color: #ffffff;
}

.nav-footer__contacts {
	margin-right: 12px;
	font-size: 18px;
	line-height: 26.59px;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-decoration: none;

	color: #ffffff;
}

.nav__about:hover {
	text-decoration: underline;
	opacity: 0.5;
}

.footer__text {
	margin-top: 87px;
	font-size: 20px;
	letter-spacing: -0.6px;
	line-height: 27px;

	opacity: 0.5;
	color: #fff;
}

/* .welcome {
	padding-top: 16px;
	width: 1150px;
	margin: 0 auto;
}

.nav-container {
	width: 1150px;
	margin: 0 auto;
	padding-top: 33px;
}

.logo-link {
	display: inline-block;
	margin-right: 555px;
}

.logo {
	display: block;
	width: 127px;
}

.navigation {
	margin-top: 5px;
	display: inline-block;
	vertical-align: top;
}

.nav-link {
	margin-right: 56px;
	display: inline-block;
	text-align: center;
	letter-spacing: -0.54px;
	font-size: 18px;
	text-decoration: none;
	color: #121212;
}

.nav-link:last-child {
	margin-right: 0;
}

.nav-link:hover {
	color: lightsalmon;
	text-decoration: underline;
}

.h1-wrapper {
}

h1 {
	padding-top: 54px;
	width: 956px;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1.8px;
	color: #121212;
}

.img-interior {
	position: relative;
	margin-top: 30px;
}

.text-in-img-wrapper {
	position: absolute;
	left: 40px;
	bottom: 42px;
	line-height: 27px;
	width: 430px;
	color: #fff;
	font-size: 20px;
	letter-spacing: -0.6px;
}

.about-us {
	padding-top: 150px;
	padding-bottom: 150px;
	width: 1150px;
	margin: 0 auto;
}

.h2-about-us-wrapper {
}

h2 {
	font-size: 18px;
	letter-spacing: -0.54px;
	color: #121212;
}

.text-about-us-wrapper {
	margin-top: 36px;
}

.text-about-us {
	width: 1048px;
	font-size: 45px;
	letter-spacing: -1.3px;
	line-height: 61px;
	color: #121212;
}

.anchor-see-services-wrapper {
	margin-top: 30px;
}

.anchor-see-services {
	font-size: 20px;
	display: inline-block;
	padding: 23px 40px;
	background-color: #ad1818;
	color: #ffffff;
	border-radius: 5px;
	text-decoration: none;
	letter-spacing: -0.6px;
}

.anchor-see-services:hover {
	color: #fff;
	background-color: lightsalmon;
}

.projects-wrapper {
	margin-top: 4px;
	margin-bottom: 30px;
}

.projects {
	padding-bottom: 150px;
	width: 1150px;
	margin: 0 auto;
}

.item {
	padding-top: 4px;
	margin-bottom: 90px;
	width: 1150px;
}

.h3-wrapper {
	margin-top: 17px;
	margin-bottom: 15px;
}

.link-wrapper {
	padding-top: 10px;
}

h3 {
	font-size: 30px;
	letter-spacing: -0.9px;
	color: #121212;
}

.item__anchor {
	text-decoration: none;
	font-size: 20px;
	letter-spacing: -0.6px;
	color: #ad1818;
}

.see-projects-wrapper {
	padding-top: 4px;
}

.anchor-see-projects {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 59px;
	font-size: 30px;
	color: #ad1818;
	border: 2px solid #ad1818;
	border-radius: 5px;
	letter-spacing: -0.9px;
}

.anchor-see-projects:hover {
	color: #fff;
	background-color: lightsalmon;
}

.services-wrapper {
	padding-bottom: 38px;
}

.section-black {
	padding-top: 151px;
	background-size: 100%;
	background-color: #121212;
}

.item-2 {
	width: 1150px;
	padding-bottom: 64px;
	margin: 0 auto;
}

h4 {
	margin-top: 20px;
	margin-left: 4px;
	color: #fff;
	font-size: 30px;
	letter-spacing: -0.9px;
}

.item-2:nth-last-child(1) {
	padding-bottom: 150px;
}

.section-bed {
	position: relative;
	height: 724px;
	background-image: url('../resources/bed.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

.text-project {
	position: absolute;
	left: 421px;
	bottom: 62px;
	width: 443px;
	height: 82px;
	color: #fff;
	font-size: 30px;
	letter-spacing: -1px;
	line-height: 41px;
}

.section-contacts {
	width: 1150px;
	margin: 0 auto;
	padding-bottom: 150px;
	padding-top: 186px;
}

.contacts-wrapper {
	margin-top: 2px;
	position: relative;
}

.contacts:before {
	width: 24px;
	height: 24px;
	bottom: 220px;
	left: -5px;
	top: -40px;
	content: '';
	display: block;
	background-image: url('../resources/phone.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	position: absolute;
}

.mail-wrapper {
	margin-top: 32px;
}

.number {
	display: block;
	margin-top: 32px;
	text-decoration: none;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1px;
	color: #121212;
}

.mail {
	display: block;
	margin-top: 30px;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -1.8px;
	opacity: 0.5;
	color: #121212;
}

.section-end-of-page {
	background-color: #121212;
	padding-top: 60px;
	padding-bottom: 144px;
}

.headlines-wrapper {
	padding-top: 15px;
	margin: 0 auto;
	width: 455px;
}

.headlines-in-the-end {
	margin-right: 51px;
	display: inline-block;
	font-size: 18px;
	letter-spacing: -0.51px;
	text-transform: uppercase;
	color: #ffffff;
}

.headlines-in-the-end:last-child {
	margin-right: 0px;
}

.text-in-the-end {
	margin-top: 94px;
	margin-left: 6px;
	text-align: center;
	font-size: 20px;
	letter-spacing: -0.6px;
	color: #fff;
	opacity: 0.5;
} */
